@import url(destyle.css);

/* Common */

html {
  width: 100%;
  font-size: 62.5%;
}
body {
  width: 100%;
  font-size: 1.6rem;
}

a:hover {
  opacity: 0.6;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
}

.section_title {
  font-weight: bold;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 60px;
  text-decoration: underline solid black 2px;
  text-underline-offset: 16px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  .logo {
    width: 120px;
    padding: 10px 0;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    li {
      margin-left: 30px;
    }
  }
}

/* Main Visual */
.main_visual {
  margin-bottom: 80px;
  img {
    width: 100%;
    height: 600px;
    max-width: 1920px;
    object-fit: cover;
  }
}

/* About */
.about {
  .content {
    display: flex;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 30px;
    }
    .name {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .text {
      font-size: 1.6rem;
      width: 400px;
    }
  }
}

/* Bicycle */
.bicycle {
  ul {
    display: flex;
    justify-content: space-between;
    li {
      width: 30%;
      img {
        max-width: 100%;
        margin-bottom: 10px;
      }
      .title {
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .text {
        text-align: center;
        font-size: 1.6rem;
      }
    }
  }
}

/* Footer */
.footer {
  margin-bottom: 10px;
  p {
    text-align: center;
  }
}
