@import url(destyle.css);

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 1.6rem;
  background: #f4f9ff;
}

a {
  text-decoration: underline;
  &:hover {
    opacity: 0.6;
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto 60px auto;
}

.section_title {
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 200px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

/* Header */
.header {
  padding-top: 60px;
  margin-bottom: 16px;
  img {
    display: inline-block;
    width: 200px;
  }
}

/* Main Visual */
.main_visual {
  margin-bottom: 60px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

/* Index */
.index {
  padding: 30px 0;
  background: #fff;
  div {
    margin: 0 0 0 200px;
  }
  ol {
    margin-left: 18px;
    li {
      list-style: decimal;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

/* Detail */
.detail {
  .content {
    display: flex;
    justify-content: center;
    img {
      width: 270px;
      margin-right: 60px;
    }
    .info {
      width: 266px;
      .title {
        font-weight: bold;
        font-size: 1.8rem;
        margin-bottom: 16px;
      }
      .detail_info {
        padding-top: 16px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 16px;
        dt {
          display: inline;
          width: 25%;
          margin-bottom: 4px;
        }
        dd {
          display: inline-block;
          width: 75%;
        }
      }
      .description {
        padding-top: 16px;
        margin-bottom: 16px;
      }
    }
  }
}

.footer {
  padding-left: 200px;
}

@media (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }

  .wrapper {
    margin: 0;
  }

  .section_title {
    padding-left: 0px;
  }

  /* Header */
  .header {
    padding-top: 60px;
    margin-bottom: 16px;
    img {
      display: inline-block;
      width: 160px;
      height: 18px;
    }
  }

  /* Main Visual */
  .main_visual {
    margin-bottom: 60px;
    img {
      height: 142px;
      object-fit: cover;
    }
  }

  /* Index */
  .index {
    background: #fff;
    padding: 64px 40px;
    div {
      margin: 0;
    }
    ol {
      margin-left: 18px;
      li {
        list-style: decimal;
        margin-bottom: 20px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  /* Detail */
  .detail {
    padding: 64px 40px;
    .content {
      display: block;
      img {
        width: 100%;
        /*
        width: 295px;
        height: 295px;
        */
        margin: 0;
        margin-bottom: 25px;
      }
      .info {
        width: 100%;
      }
    }
  }

  .footer {
    padding: 16px 40px;
  }
}
